#member-withdrawal > #memberdelete {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#member-withdrawal > #memberdelete > .member-icon-image {
	width: 265px;
	height: 400px;
	background-color: red;
	margin: 58px 50px 0 0;
}

#member-withdrawal > #memberdelete > .field {
	width: 740px;
	height: 1000px;
	background-color: white;
	margin: 58px 0 0;
	display: flex;
	flex-direction: column;
}

#member-withdrawal > #memberdelete > .field > .member-name {
	width: 730px;
	height: 75px;
	font-size: 30px;
	border-bottom: solid;
}

#member-withdrawal > #memberdelete > .field > strong {
	width: 703px;
	height: 120px;
	margin: 40px 0 0 0;
}
#member-withdrawal > #memberdelete > .field > strong > .member-email-container {
	display: flex;
}
#member-withdrawal
	> #memberdelete
	> .field
	> strong
	> .member-email-container
	> .member-email {
	display: inline-block;
	width: 200px;
	height: 120px;
	font-size: 15px;
	background-color: white;
	text-align: left center;
	line-height: 120px;
}
#member-withdrawal
	> #memberdelete
	> .field
	> strong
	> .member-email-container
	> .member-email2 {
	display: inline-block;
	width: 420px;
	height: 50px;
	font-size: 24px;
	color: black;
	background-color: white;
	text-align: left center;
	margin: 30px 0 0 0;
	line-height: 60px;
}

#member-withdrawal
	> #memberdelete
	> .field
	> strong
	> .member-withdrawal-statement-container {
	display: flex;
	width: 700px;
}
#member-withdrawal
	> #memberdelete
	> .field
	> strong
	> .member-withdrawal-statement-container
	> .member-withdrawal-statement {
	display: inline-block;
	width: 200px;
	height: 120px;
	font-size: 15px;
	background-color: white;
	text-align: left center;
	line-height: 120px;
}
#member-withdrawal
	> #memberdelete
	> .field
	> strong
	> .member-withdrawal-statement-container
	> .member-withdrawal-statement2 {
	display: inline-block;
	width: 500px;
	height: 50px;
	font-size: 24px;
	color: black;
	background-color: white;
	text-align: left center;
	margin: 30px 0 0 0;
	line-height: 60px;
}

#member-withdrawal
	> #memberdelete
	> .field
	> strong
	> .member-withdrawal-statement-enter {
	display: inline-block;
	width: 198px;
	height: 120px;
	font-size: 15px;
	background-color: white;
	text-align: left center;
	line-height: 120px;
}

#member-withdrawal > #memberdelete > .field > strong > .input {
	width: 400px;
	height: 50px;
	font-size: 24px;
	margin: auto;
}

.check-button {
	width: 115px;
	height: 70px;
	text-align: center;
	margin: 200px 0 0 150px;
	color: white;
	font-size: 20px;
	background-color: black;
}
