<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./MemberDelete.css" />
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>회원 탈퇴</title>
		<script type="module" src="./MemberDelete.js" defer></script>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>마이파티</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🥳</div>
									<p class="user-name"><span>홍길동</span>님</p>
								</div>
								<span class="user-role">일반회원</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li class="active">
										<a href="/myPage">내 정보수정</a>
									</li>
									<li>
										<a href="/myPage/orders">주문 내역</a>
									</li>
								</ul>
							</nav>
						</section>
						<!-- 회원탈퇴 -->
						<section class="order-history">
							<h3>회원탈퇴</h3>
							<div class="field">
								<strong>
									<div class="member-email-container">
										<span class="member-email">이메일</span>
										<span class="member-email2" />
									</div>
								</strong>
								<strong>
									<div class="member-withdrawal-statement-container">
										<span class="member-withdrawal-statement"
											>회원 탈퇴문구</span
										>
										<span class="member-withdrawal-statement2"
											>파티피플에서 탈퇴하겠습니다.</span
										>
									</div>
								</strong>
								<strong>
									<span class="member-withdrawal-statement-enter"
										>회원 탈퇴 문구 입력</span
									>
									<input class="input" />
								</strong>
								<button class="check-button">확인</button>
							</div>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
