<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./MemberInfo.css" />
		<script type="module" src="./MemberInfo.js"></script>
		<title>회원 정보 수정</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>마이파티</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🥳</div>
									<p class="user-name"><span>홍길동</span>님</p>
								</div>
								<span class="user-role">일반회원</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li class="active">
										<a href="/myPage">내 정보수정</a>
									</li>
									<li>
										<a href="/myPage/orders">주문 내역</a>
									</li>
								</ul>
							</nav>
						</section>
						<!-- 회원정보 수정 -->
						<section class="order-history">
							<h3>정보수정</h3>
							<div class="field">
								<strong>
									<span class="member-name">이름</span>
									<input class="input" id="receiver-name" />
								</strong>
								<strong>
									<span class="member-email">이메일</span>
									<input class="input" id="receiver-email" />
								</strong>
								<strong>
									<span class="member-password">비밀번호</span>
									<input class="input" id="receiver-password" />
								</strong>
								<strong>
									<span class="member-address">주소</span>
									<input class="input_Address" id="receiver-address" />
								</strong>
								<div class="field2">
									<div class="member-withdrawal-link">
										<a href="/" id="member-out">
											<span>회원 탈퇴</span>
										</a>
									</div>
									<button class="modify-botton">정보 수정</button>
								</div>
							</div>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
