#memberinfo > #memberinfo-wrap {
	display: flex;
	justify-content: center;
}

#memberinfo > #memberinfo-wrap > .member-icon-image {
	width: 265px;
	height: 400px;
	background-color: red;
	margin: 58px 50px 0 0;
}

#memberinfo > #memberinfo-wrap > .field {
	width: 740px;
	height: 1000px;
	background-color: white;
	margin: 58px 0 0;
	display: flex;
	flex-direction: column;
}

#memberinfo > #memberinfo-wrap > .field > .modify-tag {
	width: 730px;
	height: 75px;
	font-size: 30px;
	border-bottom: solid;
}

#memberinfo > #memberinfo-wrap > .field > strong {
	width: 513px;
	height: 120px;
	margin: 40px 0 0 0;
}

#memberinfo > #memberinfo-wrap > .field > strong > .member-name {
	display: inline-block;
	width: 198px;
	height: 120px;
	font-size: 24px;
	background-color: white;
	text-align: left center;
	line-height: 120px;
}
#memberinfo > #memberinfo-wrap > .field > strong > .member-email {
	display: inline-block;
	width: 198px;
	height: 120px;
	font-size: 24px;
	background-color: white;
	text-align: left center;
	line-height: 120px;
}
#memberinfo > #memberinfo-wrap > .field > strong > .member-password {
	display: inline-block;
	width: 198px;
	height: 120px;
	font-size: 24px;
	background-color: white;
	text-align: left center;
	line-height: 120px;
}
#memberinfo > #memberinfo-wrap > .field > strong > .member-address {
	display: inline-block;
	width: 198px;
	height: 120px;
	font-size: 24px;
	background-color: white;
	text-align: left center;
	line-height: 120px;
}
#memberinfo > #memberinfo-wrap > .field > strong > .input {
	width: 300px;
	height: 50px;
	font-size: 24px;
	margin: auto;
}
#memberinfo > #memberinfo-wrap > .field > strong > .input_Address {
	width: 300px;
	height: 80px;
	font-size: 24px;
	margin: auto;
}

.field2 {
	display: flex;
	flex-direction: row;
	align-items: end;
	margin-top: 50px;
}

.field2 > .member-withdrawal-link {
	width: 115px;
	height: 70px;
	text-align: center;
	font-size: 20px;
	background-color: black;
	line-height: 60px;
	margin: 50px 0 0 0;
}

.field2 > .member-withdrawal-link a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000;
}

.field2 > .member-withdrawal-link span {
	display: inline-block;
	color: white;
	vertical-align: middle;
}

.field2 > .modify-botton {
	width: 115px;
	height: 70px;
	text-align: center;
	margin-left: 150px;
	color: white;
	font-size: 20px;
	background-color: black;
}
