<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/Common/common.css" />
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./MemberInfo.css" />
		<!-- 우편번호 서비스 -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="module" src="./MemberInfo.js"></script>
		<title>회원 정보 수정</title>
	</head>
	<body>
		<div id="global-wrap">
			<header></header>
			<main>
				<div class="main-container">
					<div id="member-info-wrap">
						<!-- 마이페이지 메뉴바 -->
						<section class="myparty-menubar">
							<h2>마이파티</h2>
							<!-- 회원정보 -->
							<article class="user-info">
								<div>
									<div class="profile" role="img">🥳</div>
									<p class="user-name"><span id="user-name"></span>님</p>
								</div>
								<span class="user-role">일반회원</span>
							</article>
							<!-- 마이페이지 메뉴 -->
							<nav>
								<ul>
									<li class="active">
										<a href="/myPage">내 정보수정</a>
									</li>
									<li>
										<a href="/myPage/orders">주문 내역</a>
									</li>
								</ul>
							</nav>
						</section>
						<!-- 회원정보 수정 -->
						<section class="order-history">
							<h3>정보수정</h3>
							<div class="field">
								<strong>
									<span class="member-name">이름</span>
									<input class="input" id="receiver-name" disabled />
								</strong>
								<strong>
									<span class="member-email">이메일</span>
									<input class="input" id="receiver-email" disabled />
								</strong>
								<strong>
									<span class="member-password">비밀번호</span>
									<div style="display: flex">
										<input class="input" id="receiver-password" />
										<button class="modify-botton">비밀번호 변경</button>
									</div>
								</strong>
								<strong>
									<span class="member-address">기본 배송지</span>
									<div>
										<section>
											<label class="require" for="recipient">수령인</label>
											<input type="text" id="recipient" name="orderForm" />
										</section>
										<section>
											<label class="require" for="phone">연락처</label>
											<input
												type="tel"
												id="phone"
												name="orderForm"
												maxlength="13"
											/>
										</section>
										<section class="api-btn" style="display: flex">
											<input
												type="text"
												readonly
												id="address"
												name="orderForm"
												placeholder="주소"
											/>
											<button id="searchAddress">주소검색</button>
										</section>
										<input
											style="width: 100%"
											type="text"
											id="detail-address"
											name="orderForm"
											placeholder="상세주소"
										/>
										<section>
											<label for="shippingRequest">배송 요청사항</label>
											<input
												type="text"
												id="shippingRequest"
												name="orderForm"
											/>
										</section>
										<button id="updateAddress">배송지 변경</button>
									</div>
								</strong>
							</div>
							<a href="/myPage/delete-membership" id="member-out">
								회원 탈퇴
							</a>
						</section>
					</div>
				</div>
			</main>
			<footer></footer>
		</div>
	</body>
</html>
