<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>주문하기</title>
	</head>
	<body>
		<header>header</header>
		<main>
			<div>
				<ol>
					<li><span>장바구니</span></li>
					<li>
						<h2>주문하기</h2>
					</li>
					<li><span>결제완료</span></li>
				</ol>
				<!-- 주문할 장바구니 목록 -->
				<ul>
					<li>
						<article>
							<div>
								<img src="/" />
								<span>상품1</span>
							</div>
							<div><span>1</span> 개</div>
							<div><span>1,000</span>원</div>
						</article>
					</li>
					<li>
						<article>
							<div>
								<img src="/" />
								<span>상품2</span>
							</div>
							<div><span>1</span> 개</div>
							<div><span>1,000</span>원</div>
						</article>
					</li>
				</ul>
				<section>
					<!-- 주문 정보 -->
					<article>
						<h3>주문 정보</h3>
						<form action="">
							<fieldset>
								<section>
									<label for="recipient">수령인</label>
									<input type="input" id="recipient" name="orderForm" />
								</section>
								<section>
									<label for="recipientNumber">연락처</label>
									<input type="input" id="recipientNumber" name="orderForm" />
								</section>
								<section>
									<label for="address">배송지</label>
									<div>
										<input type="input" id="address" name="orderForm" />
										<button type="button">주소검색</button>
									</div>
									<input type="input" id="detailAddress" name="orderForm" />
								</section>
								<!-- 비회원일경우 해당 요소 노출 -->
								<div>
									<section>
										<label for="guestNumber">주문내역 조회 비밀번호 설정</label>
										<input type="password" id="guestNumber" name="orderForm" />
									</section>
									<a href="#">회원이신가요?</a>
								</div>
							</fieldset>
						</form>
					</article>
					<!-- 결제 금액 -->
					<article>
						<h3>결제금액</h3>
						<div>
							<span>상품금액</span>
							<span>20,000 원</span>
						</div>
						<div>
							<span>배송비</span>
							<span>3,000 원</span>
						</div>
						<hr />
						<div>
							<strong>
								<span>최종결제금액</span>
								<span>23,000 원</span>
							</strong>
						</div>
					</article>
				</section>
				<button type="submit">결제하기</button>
			</div>
		</main>
		<footer>footer</footer>
	</body>
</html>
