/* 레이아웃 기본 스타일 (FE-dev로 병합 후 따로 common.css로 뺄 예정)*/
/* header, footer 스타일은 추후 작업 후 삭제 예정 */
html,
body {
  width: 100%;
  height: 100%;
}

header,
footer {
  text-align: center;
  background-color: lightgray;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
}

#global-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

main {
  display: flex;
  flex: 1;
  align-self: stretch;
}

.main-container {
  padding: 48px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  background-color: #f5f5f5;
}

/* 로그인 */
.signin h1 {
  color: #FF5675;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.signin-card {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #555;
}

.signin-card form {
  padding: 30px 22px;
}

.signin-card form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.signin-card form button {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  background-color: #FF5675;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.signin-card form .outline-btn {
  background-color: #fff;
  border: 1px solid #FF5675;
  color: #FF5675;
}