<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>마이페이지 - 주문내역 상세</title>
	</head>
	<body>
		<header>header</header>
		<main>
			<div>
				<!-- 마이페이지 메뉴바 -->
				<section>
					<h2>마이파티</h2>
					<!-- 회원정보 -->
					<div>
						<div role="img">🥳</div>
						<p><span>홍길동</span>님</p>
						<span>일반회원</span>
					</div>
					<!-- 마이페이지 메뉴 -->
					<nav>
						<ul>
							<li>
								<a href="#">주문 내역</a>
							</li>
							<li>
								<a href="#">내 정보수정</a>
							</li>
						</ul>
					</nav>
				</section>
				<!-- 주문내역 상세-->
				<section>
					<h3>주문내역 > 주문상세</h3>
					<!-- 주문번호 및 상태 -->
					<div>
						<p>주문번호 <span>31000182263853</span></p>
						<span>상품 준비중</span>
					</div>
					<!-- 주문상품 내역 -->
					<article>
						<div>
							<span>2023-00-00</span>
						</div>
						<ul>
							<li>
								<img src="/" />
								<span>상품1</span>
								<div><span>1</span> 개 / <span>1,000</span>원</div>
							</li>
							<li>
								<img src="/" />
								<span>상품2</span>
								<div><span>1</span> 개 / <span>1,000</span>원</div>
							</li>
						</ul>
						<a href="#">장바구니 담기</a>
					</article>
					<!-- 주문 정보 -->
					<article>
						<div>
							<h4>주문 정보</h4>
							<!-- 상품준비중일 때에만 해당요소 노출 -->
							<button>주문 정보 수정</button>
						</div>
						<div>
							<span>수령인</span>
							<span>홍길동</span>
						</div>
						<div>
							<span>연락처</span>
							<span>010-0000-0000</span>
						</div>
						<div>
							<span>배송지</span>
							<span>서울시 땡땡구 땡땡로 땡땡아파트 000동 000호</span>
						</div>
					</article>
					<!-- 결제 정보 -->
					<article>
						<h4>결제 정보</h4>
						<div>
							<span>총 상품가격</span>
							<span>20,000 원</span>
						</div>
						<div>
							<span>배송비</span>
							<span>3,000 원</span>
						</div>
						<div>
							<strong>
								<span>총 결제금액</span>
								<span>23,000 원</span>
							</strong>
						</div>
					</article>
					<div>
						<a href="#">< 주문목록</a>
						<!-- 상품준비중일 때에만 해당요소 노출 -->
						<button>주문취소</button>
					</div>
				</section>
			</div>
		</main>
		<footer>footer</footer>
	</body>
</html>
