<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>결제완료</title>
	</head>
	<body>
		<header>header</header>
		<main>
			<div>
				<ol>
					<li><span>장바구니</span></li>
					<li><span>주문하기</span></li>
					<li>
						<h2>결제완료</h2>
					</li>
				</ol>
				<!-- 결제완료 안내 -->
				<article>
					<p>
						<span>회원</span>님<br />
						주문이 완료되었습니다! 🎉
					</p>
					<!-- 비회원일 경우 해당요소 노출 -->
					<p>
						주문번호 <button type="button">1234567890</button>을 기억해주세요!
					</p>
				</article>
				<div>
					<a href="#">계속 쇼핑하기</a>
					<a href="#">주문내역 확인</a>
				</div>
			</div>
		</main>
		<footer>footer</footer>
	</body>
</html>
