<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./Header.css">
  <script src="https://kit.fontawesome.com/503e6e7841.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <header>
    <div class="header-container">
      <div class="header-group">
        <div class="logo">
          <a href="#">
            <span>82</span>People
          </a>
        </div>
        <nav>
          <ul>
            <li>
              <a href="#">생일</a>
            </li>
            <li>
              <a href="#">새해</a>
            </li>
            <li>
              <a href="#">크리스마스</a>
            </li>
            <li>
              <a href="#">할로윈</a>
            </li>
            <li>
              <a href="#">파티세트</a>
            </li>
          </ul>
        </nav>
        <div class="menu-group">
          <div>
            <a href="#">로그인</a>
          </div>
          <div>
            <a href="#">주문내역</a>
          </div>
          <!-- 로그인 상태일 경우 마이페이지 노출-->
          <div>
            <a href="#">마이페이지</a>
          </div>
          <div>
            <a href="#">
              <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>
</body>

</html>