<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- css 초기화 연결 (삭제예정) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!-- 작업할 css 연결 -->
  <link rel="stylesheet" href="Guest.css" />
  <!-- 페이지에 맞는 타이틀 입력 -->
  <title>장바구니</title>
</head>

<body>
  <div id="global-wrap">
    <header>header</header>
    <main>
      <div class="main-container" id="guest-wrap">
        <!-- 클래스명 main-container까지 공통, id값은 페이지에 맞게 이름설정해서 사용 -->
        <!-- 해당 위치에 페이지 마크업 -->
        <section class="signin"></section>

        <section class="guest">
          <h1>비회원 주문내역 조회</h1>
          <div class="guest-card">
            <form action="">
              <input type="text" placeholder="주문번호를 입력하세요." />
              <input type="password" placeholder="주문비밀번호를 입력하세요." />
              <div>
                <button type="button">조회하기</button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
    <footer>footer</footer>
  </div>
</body>

</html>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

</body>

</html>