<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- css 초기화 연결 (삭제예정) -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
		/>
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="Home.css" />
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>홈페이지 메인</title>
	</head>
	<body>
		<div id="global-wrap">
			<header>header</header>
			<main role="main" id="main">
				<div class="main-container">
					<ul class="icons">
						<li>
							<!--상품 리스트를 불러오는 부분 -->
							<a href="http://www.naver.com" target="_self" id="bring-list">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
						<li>
							<a href="http://www.naver.com" target="_self">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
						<li>
							<a href="http://www.naver.com" target="_self">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
						<li>
							<a href="http://www.naver.com" target="_self">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
						<li>
							<a href="http://www.naver.com" target="_self">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
						<li>
							<a href="http://www.naver.com" target="_self">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
						<li>
							<a href="http://www.naver.com" target="_self">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
						<li>
							<a href="http://www.naver.com" target="_self">
								<div class="icon-img">
									<img
										src="https://image.auction.co.kr/itemimage/18/41/a3/1841a37b16.jpg"
										alt="main-item1"
									/>
								</div>
								<div class="contents1-blod">파티에 맞는 상품명</div>
								<div class="contents3">8,950원</div>
							</a>
						</li>
					</ul>
				</div>
			</main>

			<footer>footer</footer>
		</div>
	</body>
</html>
