<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- css 초기화 연결 (삭제예정) -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
		/>
		<!-- 작업할 css 연결 -->
		<link rel="stylesheet" href="./Login.css" />
		<!-- 작업할 js 연결 -->
		<script src="Login.js" defer></script>
		<!-- 페이지에 맞는 타이틀 입력 -->
		<title>장바구니</title>
	</head>

	<body>
		<div id="global-wrap">
			<header>header</header>
			<main>
				<div class="main-container" id="signin-wrap">
					<!-- 클래스명 main-container까지 공통, id값은 페이지에 맞게 이름설정해서 사용 -->
					<!-- 해당 위치에 페이지 마크업 -->
					<section class="signin">
						<h1>로그인</h1>
						<div class="signin-card">
							<form>
								<input
									class="form__id"
									type="email"
									placeholder="이메일을 입력하세요."
								/>
								<input
									class="form__pw"
									type="password"
									placeholder="비밀번호를 입력하세요."
								/>
								<button class="form__submit" type="submit">로그인</button>
								<div class="btn-link">
									<a href="/SignUp" class="outline-btn">회원가입</a>
								</div>
							</form>
						</div>
					</section>
				</div>
			</main>
			<footer>footer</footer>
		</div>
	</body>
</html>
